* {
  background-color: #121827;
}
.container {
  margin-left: 12.5rem; /* side-navbar genişliği kadar boşluk bırak */
}
a {
  color: white;
  text-decoration: none;
  background: transparent;
}
.title {
  margin-left: 1rem;
  font-size: 2rem;
}
h2 {
    color: white;
    background-color: transparent;
}
h1 {
  background: transparent;
}
footer {
  margin-left: 12.5rem;
}
p {
    color: white;
    background: transparent;
}
h3{
  color:white;
  font-size: small;
}