.container {
  margin-left: 12.5rem; /* side-navbar genişliği kadar boşluk bırak */
}
.Label{
  background-color: #222942;
  background-image: linear-gradient(135deg, #222942 0, rgb(17, 23, 38) 50%);
  color: #fff;
  padding: 0.6rem 0;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.Title{
  background: transparent;
  margin-left: 10px;
}