.container {
    margin-left: 12.5rem; /* side-navbar genişliği kadar boşluk bırak */

}
.crosshairCard{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.crosshairCard img{
  width: 150px;
  margin-top: 10px;
  border-style: groove;
  box-shadow: 0 8px 32px 0 rgba(54, 67, 255, 0.1);
  min-width: 150px;
  min-height: 150px;
}

.crosshairCard .clipboard{
  color:white;
  position: relative;
}
.crosshairGrid{
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
    flex-direction: column;
  }
  .container {
    margin-left: 1rem; /* side-navbar genişliği kadar boşluk bırak */
  }
  .card {
    width: 111%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
  }
}