.container {
  margin-left: 12.5rem; /* side-navbar genişliği kadar boşluk bırak */
}
.Label{
  display: flex;
  background-color: #222942;
  background-image: linear-gradient(135deg, #222942 0, rgb(17, 23, 38) 50%);
  color: #fff;
  padding: 0.6rem 0;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.Title{
  background: transparent;
  margin-left: 10px;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 0px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 10px;
  padding-top: 10px;
}

.card {
  width: 23%;
  margin-bottom: 20px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  max-height: 100px!important;
  min-height: 150px;
  object-fit: contain;
}
.CardHead{
  background-color: #222942;
  min-height: 30px;
  display: flex;
  justify-content: center;
}

.card h3 {
  color: #d5d5d5;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 10px;
}

.card a {
  display: block;
  text-decoration: none;
}

.cardBottomLine {
  width: 100%;
  height: 5px;
  background-color: red;
}
.videocard{
  text-align: center;
}

@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 10px;
    flex-direction: column;
  }
  .container {
    margin-left: 1rem; /* side-navbar genişliği kadar boşluk bırak */
  }
  .card {
    width: 111%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
  }
}